<div id="info_signin">
    <div id="signin_box">
        <div id="form">
            <form class="form" method="post" action="/auth/signin" class="form">
                <h1 class="title">Signin</h1>
                <label class="label" for="email"></label>
                <input class="input" name="email" required type="email" placeholder="gift@giftmail.com">
                <label class="label" for="password"></label>
                <input class="input" name="password" required type="password" placeholder="12345">
                <button class="btn">go !</button>
            </form>
            <p>
                No account yet ? <a class="link" href="/auth/signup">please signup !</a>
            </p>
        </div>
    </div>
</div>