{{!-- HEADER --}}

{{!-- END HEADER --}}
<div class="big-container">
  <header class="header">
    <nav class="navigation">

      <div class="nav-logo">
        <a href="/" class="title-nav">
          <h2 class="main-title">GIFT IT</h2>
        </a>
      </div>
      <ul class="nav-link flexed-item">

        {{#if isLoggedIn}}
        <div class="newnav">
          <li class="nav-myevents">
            <a href="/events" class="button-nav">My events</a>
          </li>
          <li class="nav-newevent">
            <a href="/create-event" class="button-nav">New event</a>
          </li>
        </div>
        {{/if}}
      </ul>

      <div class="flexed-item nav-end">
        {{#unless isLoggedIn}}
        <a href="/auth/signin" id="nav_login" class="button-nav">Sign in</a>
        {{/unless}}
        {{#if isLoggedIn}}
        <a href="/auth/logout" id="nav_logout" class="button-nav">
          <span>Log out</span>
        </a>
        {{/if}}
      </div>
    </nav>
  </header>
</div>