{{!-- HEADER --}}

{{!-- END HEADER --}}
<div class="big-container">
  <header class="header">
    <nav class="nav-wrapper flexed-item">
      <div class="nav-link-wrapper flexed-item">
        <div class="nav-logo">
          <a href="/" class="flexed-item">
            <span class="logo-item circle"></span>
            <h2 class="logo-item">GIFT IT</h2>
          </a>
        </div>
        <ul class="nav-link flexed-item">

          {{#if isLoggedIn}}
          <li class="nav-item animated-link nav-item-admin">
            <a href="/events">My Events</a>
          </li>
          <li class="nav-item animated-link nav-item-admin">
            <a href="/create-event">New event</a>
          </li>
          {{/if}}
        </ul>
      </div>
      <div class="flexed-item nav-end">
        {{#unless isLoggedIn}}
        <a href="/auth/signin" id="nav_login" class="button-ternary flexed-item nav-end-item">
          <span class="btn-text">Sign in</span>
        </a>
        {{/unless}}
        {{#if isLoggedIn}}
        <a href="/auth/logout" id="nav_logout" class="button-ternary flexed-item nav-end-item">
          <span class="btn-text">Log out</span>
        </a>
        {{/if}}
      </div>
    </nav>
  </header>
</div>