<div class="home-container">
    <div class="home-text">
        <p> Need to find a present for an occasion ? <br>
            Let's check the ideas we found for you!</p>
        <button class="home-button">
            <a href="/auth/signin" class="test-button">Want to test ?</a>
        </button>
    </div>
</div>