
<div class="home-container">
    <div class="home-text">
<p> Need to find an idea for a present or an occasion ? <br>
Let's have a look to  the event</p>
<button> Want to test ?</button>
</div>
</div>