.event-image {
  width: 200px;
  max-width: 100%;
  display: block;
}
.event-baseline {
  display: flex;
  flex-direction: column;
}
#events-all {
  background-image: url(/images/canon-confettis-rose-baby-shower-gender-reveal_1024x1024.jpg);
  background-size: cover;
}
/* .big-container {
  display: flex;
  border: 1px solid black;
} */

.events-title {
  margin-right: 0;
  margin-left: 0;
  margin-top: 80px;
  background-color: white;
  left: 0;
  right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
}

.events-subtitle {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 60px;
  font-size: 40px;
}

.events-grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  border-radius: 20px;
}

.grid-inside {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  padding: 20px;
}

.oneEvent {
  border: 1px solid #debb1e;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  width: 80%;
  position: relative;
  /* display: flex;
  flex-direction: column;
  left: 0;
  right: 0; */
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 10px;
  justify-items: center;
  padding: 5px;
  text-align: justify;
}

.oneEvent-image {
  grid-column-start: 1;
  grid-row: 1;
  width: auto;
  display: -moz-box;
  /* display: flex;
  flex-direction: row;
  size: 30%; */
}

.text {
  grid-column-start: 2;
  grid-row: 1;
}
