.product-image {
  width: 200px;
  max-width: 100%;
  display: block;
}

.events-grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  border-radius: 20px;
}
.events-all {
  border: 1px turquoise;
}

.grid-inside {
  border: 1px solid darkslateblue;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.oneEvent {
  border: 1px solid darkslateblue;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
}
