

.home-container {
  height: calc(110vh - (84px));
  overflow: hidden;
  background-image: url(./../images/gift-giving-netherlands.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 60px; 

}
.home-text {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  font-size: 25px;
}
button {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #1a1a1a;
  
}

.test-button {
  color: #DEDEDE;
  text-decoration: none;
  padding-right: 15px;
  padding-left: 15px;
}
      
.footer {
  bottom: -1px;
  height: 30px;
  font-size: 0.8rem;
  position: sticky;
  background: #DEBB1E;
  color: whitesmoke;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  top: calc(100vh - 60px);
  justify-content: flex-end;
}
