@import url("https://fonts.googleapis.com/css?family=Cinzel|Marcellus|Nanum+Gothic|Rajdhani&display=swap");
/* font-family: "Cinzel", serif;
font-family: "Marcellus", serif;
font-family: "Nanum Gothic", sans-serif;
font-family: "Rajdhani", sans-serif;
color #DEBB1E
background: darkslateblue
 */

body {
  color: grey;
  font-family: "Marcellus", serif;
  position: relative;
}
.navigation {
  list-style: none;
  margin: 0;
  background: darkslateblue;
  display: flex;
  position: absolute;
  top: 0; left: 0; right: 0;
  /* flex-flow: row wrap; */
}
.newnav {
  list-style: none;
  margin: 0;
  background: darkslateblue;
  display: flex;
  flex-flow: row wrap;
}
.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}
.navigation a:hover {
  background: darken(black, 12%);
}
.nav-logo {
  margin-right: 3.5rem;
}
@media (max-width: 800px) {
  .navigation {
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: left;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation:last-child {
    border-bottom: none;
  }
}
.button-nav {
  margin-top: 5px;
  display: flex;
}
.logout {
  margin-top: 5px;
}

.big-container {
  display: flex;
  width: 100%;
}
