#info_signin {
  background-size: cover;
  background-image: url(/images/cadeau-enveloppé-pour-noël-ou-tout-autre-traîneau-différent-d-occasion-et-en-bois-132806229.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

#signin_box {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 5px 5px darkslateblue;
  width: 500px;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.title {
  text-align: center;
  font-size: 75px;
  color: darkslateblue;
  margin: 0;
  width: 100%;
}
.formular {
  height: calc(100vh - (84px));
  margin: 20px;
}

.no-account {
  margin: 20px;
}
